@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #03080e;
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    overflow: hidden; /* Prevent vertical scrolling */
}

.login_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 40px 26px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
    animation: glowing-border 2s infinite;
    max-width: 50vw;
    min-width: 200px;
}

@keyframes glowing-border {
    0% {
        box-shadow: 0 0 10px #ff0d45;
    }
    50% {
        box-shadow: 0 0 40px #ff0d45;
    }
    100% {
        box-shadow: 0 0 10px #ff0d45;
    }
}

.login_form input {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 14px 16px;
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(60%); /* Adjust the brightness value as needed */
}

::placeholder {
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.login_form button {
    background: linear-gradient(45deg, rgba(255, 13, 69, 0.344), rgba(255, 1, 234, 0.339));
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 16px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    font-family: 'Orbitron', sans-serif;
}

.login_form button:hover {
    background: linear-gradient(45deg, #ff0d45, #ff01eb);
    box-shadow: 0 0 10px 5px #ff0d45;
}
